@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <form action="Rate">
        @Html.DropDownList("movieTitle")
        <input name="rating" type="number" min="0" max="10" placeholder = "Insert Rating" />
        <input type="submit"/>
    </form>
</html>